@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
    background-color: red !important;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

*,
html,
body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px !important;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 0;
}

::-webkit-scrollbar-thumb {
    position: absolute;
    background: #a1a1a1;
    border-radius: 3px;
}

::-webkit-scrollbar {
    visibility: hidden;
}